body {
  background-color: #405068;
}

h1 {
  color: #71F42F;
  margin-left: 20px;
}

p {
  color: "white";
}

#calculator_div {
  background-color: #767676;
}

#calculator_out {
  background-color: #405068;
}

#numbers {
  background-color: #FF950E;
}

#operator {
  background-color: #0EDAFF;
}
  
