body {
  background-color: #405068;
}

h1 {
  color: #71F42F;
  text-align: center;
}

p {
  color: #FFFFFF;
  text-align: center;
}

#calculator_div {
  background-color: #767676;
  height: 50%;
  width: 50%;
  margin: auto;
}

#holder {
  background-color: #767676;
  height: 0.1px;
  width: 50%;
  margin: auto;
}

#calculator_out {
  background-color: #405068;
  height: 75px;
  width: 75%;
  text-align: right;
  margin: auto;
}

#AC {
  background-color: #CA48FF;
  height: 50px;
  width: 50px;
  text-align: center;
}

#numbers {
  background-color: #FF950E;
  text-align: center;
  height: 50px;
  width: 50px;
  display: inline-block;
}

#operator {
  background-color: #0EDAFF;
  text-align: center;
  height: 50px;
  width: 50px;
  display: inline-block;
}

